*{
    text-decoration: none;
}

.card{
    padding: 0px 0;
    background-color: transparent;
    cursor: pointer;
    position: relative;
}

.poster{
    height: 190px;
    width: 100%;
    object-fit: cover;
}
.underPoster{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}
.saveIcon{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    right: 8px;
    top: 6px;
    background-color: white;
    padding: 4px;
}

.metaData{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 7px;
}
.authorIcon, .calendarIcon{
    width: 20px;
    height: 20px;
}
.date{
    font-size: 0.95rem;
}
.authorSection{
    display: flex;
    gap: 10px;
    align-items: center;
}
.dateSection{
    display: flex;
    gap: 10px;
    align-items: center;
}



.authorImage{
    width: 55px;
    height: 55px;
    border-radius: 50%;

}
.authorID{
    height: min-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    margin-left: 8px;
}
.authorName, .authorField, .timeToRead{
    margin: 0px;
    color: black;

}
.authorName{
    font-weight: 600;
    font-size: 1.05rem;
}
.authorField{
    font-size: 0.9rem;
    font-weight: 400;
}
.timeToRead{
    font-size: 0.9rem;
    background-color: rgb(236, 138, 34);
    color: rgb(70, 63, 63);
    text-align: center;
    margin: 0 0;
    padding: 4px 8px;
    border-radius: 15px;
    width: fit-content;
    position: absolute;
    left: 5px;
    top: 159px;
    z-index: 8;
}

.secondLinkToPost{
    position: relative;
}

.blogTitle{
    color: rgb(0, 0, 0);
    font-weight: 450; 
    font-size: 1.25rem;
    margin-bottom: 15px;
    margin-top: 10px;
}

.divider{
    padding-top: 15px;
    font-size: 1rem;
}

.downContainer{
    display: flex;
    justify-content: space-between;
    padding: 7px 15px;
}