@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

.NavigationContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.navigation{
    display: grid;
    width: 65%;
    place-items: center;
    grid-template-columns: 1fr 6fr 1fr;
    padding: 0 10%;
    align-items: center;
}

.logo{
    padding: 20px 0;
}

.links{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    color: white;
    gap: 80px;
    font-size: 1.6rem;
    width: 100%;
    font-family: 'Work Sans';
    font-weight: 500;
}

.eachLink{
    padding-top: 7px;
}

.accountIcon{
    width: 50px;
}
