.BlogsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.searchContainer{
    width: 20%;
    height: max-content;
    background-color: rgba(239, 137, 12, 0.898);
    border: none;
    border-radius: 12px;
    margin-top: 75px;
    margin-bottom: 50px;
    padding: 0 5px;
    display: flex;
    align-items: center;
    transition: all 0.35s ease;
}

.searchContainer:has(input:focus), .searchContainer:has(input:active){
    background-color: rgba(252, 113, 21, 0.956);
    width: 50%;
}

.search{
    font-size: 2rem;
    background-color: transparent;
    color: white;
    border: none;
    height: inherit;
    border-radius: 12px;
    outline: none;
    width: 100%;
}
.search::placeholder{
    color: rgba(255, 255, 255, 0.873);
}

.searchIcon{
    width: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

