.BlogsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.searchContainer{
    width: 20%;
    height: max-content;
    background-color: rgba(51, 160, 134, 0.777);
    border: none;
    border-radius: 12px;
    margin: 80px 0;
    padding: 0 5px;
    display: flex;
    align-items: center;
    transition: all 0.35s ease;
}

.searchContainer:has(input:focus), .searchContainer:has(input:active), .searchContainer:hover{
    background-color: rgba(51,160,135,1);
    width: 60%;
}

.search{
    font-size: 2rem;
    background-color: transparent;
    color: white;
    border: none;
    height: inherit;
    border-radius: 12px;
    outline: none;
    width: 100%;
}
.search::placeholder{
    color: rgba(255, 255, 255, 0.873);
}

.searchIcon{
    width: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

