.BlogsContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: min-content; 
    min-height: 80vh;
}

.loadSpinner{
    width: 300px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 30%)
}

.searchContainer{
    width: 100%;
    height: max-content;
    background-color: rgba(239, 137, 12, 0.849);
    border: none;
    border-radius: 12px;
    margin-top: 55px;
    margin-bottom: 50px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.35s ease;
    padding: 4px 6px;
}
@media only screen and (max-width: 800px) {
    .searchContainer {
        margin-top: 20px;
        margin-bottom: 30px;
    }
}
@media only screen and (max-width: 425px) {
    .searchContainer{
        margin-bottom: 20px;
    }
}

.searchContainer:has(input:focus), .searchContainer:has(input:active){
    background-color: rgba(239, 137, 12, 1);
}

.search{
    font-size: 2rem;
    background-color: transparent;
    color: white;
    border: none;
    height: inherit;
    border-radius: 12px;
    outline: none;
    width: 100%;
}

@media only screen and (max-width: 800px) {
    .search{
        font-size: 1.5rem;
    }
}


.search::placeholder{
    color: rgba(255, 255, 255, 0.873);
}

.searchIcon{
    width: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

