.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
    background: rgb(107,195,157);
    background: linear-gradient(0deg, rgba(107,195,157,0) 0%, rgba(83,185,151,0.7959777661064426) 21%, rgba(51,160,135,1) 55%, rgba(14,69,75,0.9808517156862745) 100%);
}

.slogan{
    position: relative;
    margin-top: 80px;
    transform: scale(0.9);
}
