.navigationHolder{
    width: 100%;
    background-color: rgb(48, 47, 47);
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation{
    display: grid;
    width: 70%;
    place-items: center;
    grid-template-columns: 1fr 6fr 1fr;
    padding: 0 10%;
    align-items: center;
}

.logo{
    padding: 10px 0;
}

.links{
    display: flex;
    color: white;
    width: 75%;
    justify-content: start;
    gap: 90px;
    font-size: 1.2rem;
}


.savedBlogs{
    width: 35px;
}