.blogsContainer{
    margin-top: 140px;
    width: 1200px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    display: grid;
    row-gap: 40px;
    column-gap: 50px;
    place-items: center;
}

