.savedBlogsContainer{
    margin-top: 140px;
    width: 70%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 40px;
    place-items: center;
    
}
.eachCard{
    width: fit-content;
}