*{
    text-decoration: none!important;
}
.poster{
    position: 'relative';
    height: 190px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card{
    box-shadow: -1px 3px 17px -3px rgba(0,0,0,0.22);
    -webkit-box-shadow: -1px 3px 17px -3px rgba(0,0,0,0.22);
    -moz-box-shadow: -1px 3px 17px -3px rgba(0,0,0,0.22);
    border-radius: 0px;
    padding: 0px 0;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
}

.authorSection{
    padding: 0px;
    color: rgb(0, 0, 0);

}

.secondLinkToPost{
    position: relative;
}

.description{
    color: rgb(0, 0, 0);
    margin: 0;
    font-weight: 300; 
    font-size: 1rem; 
    text-align: justify; 
    padding: 5px 15px;
}

.divider{
    padding-top: 15px;
    font-size: 1rem;
}

.downContainer{
    display: flex;
    justify-content: space-between;
    padding: 7px 15px;
}