@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

.NavigationContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(0, 0, 0);

}

.navigation{
    display: grid;
    width: 70%;
    height: 100%;
    place-items: center;
    grid-template-columns: 1fr 6fr 0.5fr;
    align-items: center;
    padding: 10px 40px;
}

.logo{
    width: 90px;
    object-fit: contain;
}

.links{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 150px;
    gap: 80px;
    font-size: 1.4rem;
    width: 100%;
    font-family: 'Work Sans';
    font-weight: 500;
}

p{
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.eachLink{
    text-decoration: none;
    color: white;
}


.menueIcon{
    width: 60px;
}




/* ------------------------------------------------------------------- */

.navigator{
    position: absolute;
    width: 100vw;
    height: 100vh;
    right: 100vw;
}
.eachNavigatorContainer1, .eachNavigatorContainer2, .eachNavigatorContainer3, .eachNavigatorContainer4, .eachNavigatorContainer5{
    padding: 0;
    margin: 0;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.2rem;
    transition: all 0.18s ease-in;
    cursor: pointer;
}
.eachNavigatorContainer1:hover, .eachNavigatorContainer2:hover, .eachNavigatorContainer3:hover, .eachNavigatorContainer4:hover, .eachNavigatorContainer5:hover{
    background-color: rgb(243, 139, 2);
    font-size: 2.5rem;
}
.eachNavigatorContainer1{
    background-color: rgb(105, 106, 105);
}
.eachNavigatorContainer2{
    background-color: rgb(141, 139, 139);
}
.eachNavigatorContainer3{
    background-color: rgb(109, 109, 107);
}
.eachNavigatorContainer4{
    background-color: rgb(125, 125, 126);
}
.eachNavigatorContainer5{
    background-color: rgb(148, 145, 147);
}

